@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzamos a que el fondo del navegador sea siempre del color de tu app, nunca negro */
html,
body {
  background-color: #ffffff; /* Color blanco para el login */
  color: #1F2937;
  /* Evita el scroll horizontal fantasma */
  overflow-x: hidden;
  /* Hace que el "rebote" de Safari se vea del mismo color que el fondo */
  overscroll-behavior-y: none; 
}

/* Cuando el usuario entra a la app, cambiamos el fondo de body al color grisecito #F8FAFC */
body:has(main) {
  background-color: #F8FAFC;
}