@tailwind base;
@tailwind components;
@tailwind utilities;

/* Forzamos a que el fondo del navegador sea siempre del color de tu app, nunca negro */
html,
body {
  background-color: #ffffff; /* Color blanco para el login */
  color: #1F2937;
  /* Quitamos el overflow-x y el overscroll-behavior para que los gestos de Windows y Mac vuelvan a funcionar */
}

/* Cuando el usuario entra a la app, cambiamos el fondo de body al color grisecito #F8FAFC */
body:has(main) {
  background-color: #F8FAFC;
}